.env
.idea/
venv/
*.bbl
*.blg
*.out
*.log
*.aux
*.bcf
*.run.xml
*.synctex.gz
*.cut
*.~lock*
__pycache__/
.vscode/
test.py
*log.txt
*input.txt
*problem_1.md
*problem_2.md
*input.py

day_00_template/
requirements.txt
create_new_day.py
